:root {
  --tw-bg-opacity: 1;
  --light-grey: rgba(229, 231, 235, 1);
  --grey: rgba(209, 213, 219, 1);
  --med-grey: rgba(156, 163, 175, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* width: 100vw; */
  height: 100vh;
  /* background: hsla(0, 0%, 50%, 0.288); */
  background-color: var(--ligt-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic-container,
.title-container {
  /* margin: 10px; */
  border: 2px solid black;
  width: 100%;
  height: 100vh;
  background: var(--med-grey);
}

@media (max-width: 640px) {
  header {
    flex-direction: column;
  }
}
