:root {
  --tw-bg-opacity: 1;
  --light-grey: rgba(229, 231, 235, 1);
  --grey: rgba(209, 213, 219, 1);
  --med-grey: rgba(156, 163, 175, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

header {
  /* width: 100vw; */
  height: 100vh;
  /* background: hsla(0, 0%, 50%, 0.288); */
  background-color: var(--ligt-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-weight: bold;
}

.pic-container,
.title-container {
  /* margin: 10px; */
  width: 100%;
  height: 100vh;
}

.title-wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing {
  width: 17ch;
  animation: typing 2s steps(25), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  /* font-family: monospace; */
  font-size: 3rem;
}

.pic-wrapper {
  background: linear-gradient(
      to left top,
      hsla(0, 0%, 0%, 0.2) 75%,
      hsla(0, 0%, 0%, 0.75)
    ),
    linear-gradient(
      to right top,
      hsla(0, 0%, 0%, 0.2) 75%,
      hsla(0, 0%, 0%, 0.75)
    ),
    linear-gradient(
      to right bottom,
      hsla(0, 0%, 0%, 0.2) 75%,
      hsla(0, 0%, 0%, 0.75)
    ),
    linear-gradient(
      to left bottom,
      hsla(0, 0%, 0%, 0.2) 75%,
      hsla(0, 0%, 0%, 0.75)
    );
  z-index: 2541999;
}

.hero-pic {
  width: 100%;
  opacity: 0.6;
  filter: grayscale(100%);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 640px) {
  header {
    flex-direction: column;
  }
}
